 {% extends 'base.html'%}
{% load staticfiles %}
			{%block main%}
			<h1 style="color:#501cd0cc" align="center">您的信息如下</h1>
{%for k,v in st.items%}
<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:5px">{{forloop.counter}}.{{k}}:</p>
</h4>
</div>
<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:15px;color:#ff0000a6">{{v}}</p>
</h4>
</div>
{%empty%}
{%endfor%}
<hr style="border-top: 2px solid #ddd;">
<div align="left" style="float:left">
	<p><button class="btn btn-primary" data-toggle="button" onclick="location='{% url 'enroll:zhifubao' money  %}'">支付宝支付</button></p>
    </div>
    <div align="right">
	<p><button class="btn btn-primary" data-toggle="button" onclick="location='{% url 'enroll:weixin' money %}'">微信支付</button></p>
    </div>
{%endblock%}
