{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>文都考研直通车,直达成功彼岸</title>


    <!-- css -->
    <link rel="stylesheet" href="{% static 'enroll/css/custom.css' %}">
<script src="{% static 'enroll/js/script.js' %}"></script>
 <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" type="image/x-icon">


<link rel="stylesheet" href="{% static  'mao/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/login.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/sign-up-login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mao/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/inputEffect.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/tooltips.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/spop.min.css' %}">

<script src="{% static 'mao/js/jquery.min.js' %}"></script>
<script src="{% static 'mao/js/jquery.pure.tooltips.js' %}"></script>
<script src="{% static 'mao/js/spop.min.js' %}"></script>
<style type="text/css">
html{margin:0;padding:0;width: 100%; height: 100%;}

body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/static/mao/images/snow.jpg) 0 0 no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
	<!-- 登录控件 -->
	<div id="login">
		<input id="tab-1" type="radio" name="tab" class="sign-in hidden" checked />
		<input id="tab-2" type="radio" name="tab" class="sign-up hidden" />
		<input id="tab-3" type="radio" name="tab" class="sign-out hidden" />
		<div class="wrapper" id="test">
			<!-- 登录页面 -->
			<div class="login sign-in-htm" >
			<div style="display:block;
    background: rgb(238, 129, 166);position:absolute;top:115px;text-align:center;z-index:90909090909;margin:auto;color:white;right:0px;left:0px;" id="state">
			{%if message%}
			<script type="text/javascript">


/*remove url of alert/confirm*/  
var wAlert = window.alert;  
window.alert = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        iwindow.alert(message);  
        iframe.parentNode.removeChild(iframe);  
    }  
    catch (exc) {  
        return wAlert(message);  
    }  
}  
var wConfirm = window.confirm;  
window.confirm = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        var result=iwindow.confirm(message);  
        iframe.parentNode.removeChild(iframe);  
        return result;
    }  
    catch (exc) {  
        return wConfirm(message);  
    }  
}	 
			{%if success%}
			alert("信息已录入,请前往支付");
			{%endif%}
			</script>
			<h3>{{message}}</h3>
			<h4>(信息如有误,请联系群内管理员修改)</h4>
			<table class="table table-bordered table-condensed">
			<tbody style="color:black">
			{%for k in st%}
			{% if forloop.counter|divisibleby:2 %}
			<tr style="  background-color: #f3e3e2;
    border-color: #f3e3e2;">
			<td>{{k.0}}</td>
			<td style='color:red'>{{k.1}}</td>
			</tr>
			{%else%}
			<tr style="    background-color: #bbd1af;
    border-color: #bbd1af;">
			<td>{{k.0}}</td>
			<td style='color:red'>{{k.1}}</td>
			</tr>
			{%endif%}
			{%endfor%}
			</tbody>
			</table>
			{%if success or unend%}
			 <button type="" id="fat-btn" class="btn btn-primary"  style="background-color:#39b146;border-color:rgba(233, 30, 99, 0);border-radius: 0px;min-width:100px;margin-bottom:20px" onclick="location='{% url 'enroll:weixin' 100 %}'">前往支付</button>
			 {%endif%}
			{%else%}
			<h3>正式报名说明,请仔细阅读</h3>
			<h4>(如遇问题,请右上角选择浏览器打开)</h4>
			<ul style="list-style-type:none;text-align:left">
			{%if major ==  '医学' %}
			<li style="margin-bottom:30px;margin-top:30px">
			<p style="font-size:20px;line-height:30px">1.请确认您的考试科目为医学(考试科目为3科)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">2.大巴车将提供校区往返市区,酒店到考点服务(2天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">3.酒店将提供单人间/双人间选择(2天)</p>
			</li>
			{%elif major ==  '建工' %}
			<ul style="list-style-type:none;text-align:left">
			<li style="margin-bottom:30px;margin-top:30px">
			<p style="font-size:20px;line-height:30px">1.请确认您的考试科目为建工(考试时间3天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">2.文都教育负责前两天的服务,第3天需考生自己订房/返校</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">3.大巴车将提供校区往返市区,酒店到考点服务(2天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">4.酒店将提供单人间/双人间选择(2天)</p>
			</li>
			{%elif major ==  '管联' %}
			<ul style="list-style-type:none;text-align:left">
			<li style="margin-bottom:30px;margin-top:30px">
			<p style="font-size:20px;line-height:30px">1.请确认您的考试科目为管联联考(考试时间1天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">2.大巴车将提供校区往返市区,酒店到考点服务(1天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">3.酒店将提供单人间/双人间选择(1天)</p>
			</li>
			{%elif major ==  '其它' %}
			<li style="margin-bottom:30px;margin-top:30px">
			<p style="font-size:20px;line-height:30px">1.请确认您的考试科目为其它(考试时间2天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">2.大巴车将提供校区往返市区,酒店到考点服务(2天)</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">3.酒店将提供单人间/双人间选择(2天)</p>
			</li>
			{%endif%}
			<li style="margin-bottom:30px">
	  <button type="" id="fat-btn" class="btn btn-primary"  style="background-color:#674954;border-color:rgba(233, 30, 99, 0);border-radius: 0px;;position:absolute;top:0px;right:0px;min-width:30px;" onclick="javascript:

document.getElementById('state').style.display='none';
document.getElementById('form').style.display='block';
document.getElementById('test2').style.visibility='visible';


">X</button>
			</li>
			{%endif%}
			</ul>
			</div>
				<form action="{% url 'enroll:FormalEnroll'%}" method="post" class="container offset1 loginform comment-form" style="max-width:90%;margin-bottom:20px" id="form" >
					{% csrf_token %}
					<!-- 猫头鹰控件 -->
					<div id="owl-login" class="register-owl">
						<div class="hand"></div>
						<div class="hand hand-r"></div>
						<div class="arms">
							<div class="arm"></div>
							<div class="arm arm-r"></div>
						</div>
					</div>
					<div class="pad input-container" id="test2" style="visibility:hidden;">
						<section class="content">
  <div class="row">
    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> <h3 style="font-size:20px"><img src="{%static 'enroll/img/logo.png'%}" width="27px" height="27px"/>文都考研直通车,直达成功彼岸</h3></div>

    </div>
    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 姓名：</div>
	<input type="text" name="name" maxlength="20" disabled="disabled" required="" value="" id="id_name" style="border: 1px solid rgba(63, 81, 181, 0.52);background-color:#ddd9d9">
    </div>
    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 手机号：</div>
	  <input type="text" name="phone" maxlength="11" disabled="disabled" value="" minlength="11" required="" id="id_phone" style="border: 1px solid rgba(63, 81, 181, 0.52);background-color:#ddd9d9">
    </div>
    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 专业：</div>
	  <input type="text" name="major" maxlength="11" disabled="disabled" value=""  required="" id="id_major" style="border: 1px solid rgba(63, 81, 181, 0.52);background-color:#ddd9d9">
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 性别：</div>
      {{ form.sex}}
      {{ form.sex.errors }}
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 出发地：</div>
      {{ form.area }}
      {{ form.area.errors }}
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 酒店+大巴(酒店到考点)：</div>
	  <select name="need_dorm" id="id_need_dorm" class="form-control" style="margin: 5px 0px; border: 1px solid rgba(63, 81, 181, 0.52);"></select>
	  </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 住宿天数：</div>
	  <select name="day_dorm" id="id_day_dorm" class="form-control" style="margin: 5px 0px; border: 1px solid rgba(63, 81, 181, 0.52);">
</select>
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 大巴车：(校区到市区往返)</div>
	  <select name="need_bus" id="id_need_bus" class="form-control" style="margin: 5px 0px; border: 1px solid rgba(63, 81, 181, 0.52);">
</select>
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 午餐：</div>
	  <select name="need_lunch" id="id_need_lunch" class="form-control" style="margin: 5px 0px; border: 1px solid rgba(63, 81, 181, 0.52);">
</select>
    </div>

    <div class="col-md-12" style="padding-left:28px;padding-right:28px">
	  <div class="field-label"> 支付金额(已减去预付金100)：</div>
	  <input type="text" name="money" maxlength="11" readonly = "readonly"  value="" minlength="11" required="" id="id_money" style="border: 1px solid rgba(63, 81, 181, 0.52);background-color:#ddd9d9">
    </div>

<script type="text/javascript">
document.getElementById("state").style.height="";
var s=document.getElementById("test2").offsetWidth;
document.getElementById("state").style.width=s+6+"px";
document.getElementById('state').style.display='block';
document.getElementById('state').style.height='';
document.getElementById('test2').style.visibility='hidden';
document.getElementById('form').style.display='none';

$(".pad").css("color","rgba(255, 0, 0, 0.6)");
$(".input-container").css("background-color","#0e2e8533");
$("select").addClass("form-control");
$("select").css("margin","5px 0");
$("select").css("border","1px solid rgba(63, 81, 181, 0.52)");
$("input").css("border","1px solid rgba(63, 81, 181, 0.52)");


$("#id_name").attr("value","{{name}}");//推荐这种写法,可正常赋值
$("#id_major").attr("value","{{major}}");//推荐这种写法,可正常赋值
$("#id_phone").attr("value","{{phone}}");//推荐这种写法,可正常赋值

{%if message%}


document.getElementById("state").style.background="#6da6c4";
document.getElementById('state').style.display='block';
document.getElementById('state').style.height='';
document.getElementById('test2').style.visibility='hidden';
document.getElementById('form').style.display='none';

{%endif%}
/*remove url of alert/confirm*/  
var wAlert = window.alert;  
window.alert = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        iwindow.alert(message);  
        iframe.parentNode.removeChild(iframe);  
    }  
    catch (exc) {  
        return wAlert(message);  
    }  
}  
var wConfirm = window.confirm;  
window.confirm = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        var result=iwindow.confirm(message);  
        iframe.parentNode.removeChild(iframe);  
        return result;
    }  
    catch (exc) {  
        return wConfirm(message);  
    }  
}	 
	  {% if message2 %}
	  document.getElementById("test2").style.visibility="visible";
	  document.getElementById("state").style.display="none";
	  alert("手机号填写错误");
	  {%endif%}
</script>
<script src="{% static 'enroll/js/my2.js' %}"></script>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px;margin-bottom:8px;margin-top:8px">
	  <button type="button" id="fat-btn" class="btn btn-primary"  style="position:absolute;left:30px;background-color:#e47971;border-color:#e47971;min-width:100px;" onclick="javascript:


document.getElementById('state').style.display='block';
document.getElementById('state').style.height='';
document.getElementById('test2').style.visibility='hidden';
document.getElementById('form').style.display='none';
">详情说明</button>
	  <button type="submit" id="fat-btn" class="btn btn-primary"  style="position:absolute;right:30px;min-width: 100px;" onclick="javascript:return(confirm('请仔细确认信息是否无误?'));">确认无误提交</button></div>
    </div>
  </div>    <!-- row -->
						</section>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
