{% extends 'base2.html' %}
	    {% block main %}
		<div style=''>
<ul class="post-ul">
<li style='border-bottom: #ccc 0.2px solid; margin-bottom: 25px;overflow: hidden; list-style:none;'>
                                <a class="excerpt-a" href="{% url 'enroll:Enroll2'%}">
								
                         <h1 class="top_h" style="font-size:25px;font-family: Microsoft YaHei,微软雅黑,华文细黑,STHeiti,MingLiu;">
							考研现场确认直通车
                            </h1>
								</a>
                        <div class="entry-content clearfix">
                            <p class='excerpt-p'>报名入口,11月份考研现场确认安排...</p>
			</div>
				</li>
<li style='margin-bottom: 25px;overflow: hidden; list-style:none;'>
                                <a class="excerpt-a" href="#">
                         <h2 class="top_h" style=" font-family: Microsoft YaHei,微软雅黑,华文细黑,STHeiti,MingLiu;">
							更多内容,敬请期待...
                            </h2>
								</a>
				</li>
</div>
	    {% endblock main %}

