{% extends 'base.html' %}
	    {% block main %}
	    {% if error_msg%}
	    <p style="color:blue;font-size:42px">{{ error_msg}}</p>
	    {%endif %}
		<div style=''>
                         <h2 class="top_h">
                          {%if category%}{{category.category_name}}{%elif date_time%}{{date_time}}{%else%} 最新文章 {%endif%}
                            </h2>
<ul class="post-ul">
	    {%	for post in post_list %}
<li style='border-bottom: #ccc 1px solid; margin-bottom: 25px;overflow: hidden; list-style:none;'>

   <h3 style="    line-height: 30px;
    height: 30px;">
                                <a class="excerpt-a" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
								</h3>
                        <div class="entry-content clearfix">
                            <p class='excerpt-p'>{{ post.excerpt|safe }}</p>
                        </div>
           <span style="padding-right:30px">
		   <ion-icon name="time" style="height:0.95em"></ion-icon>
		   <span>{{ post.created_time|date:"Y-m-d" }}</span></span>
				</li>
	{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="{%if page_obj.has_previous %}?page={{page_obj.previous_page_number}} {%else%}#{%endif%}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in page_index %}
{% ifequal i page_obj.number %}	
    <li class="active">
	<span >{{ i }}</span>
	</li>
{%else%}
    <li >
	<a  href="?page={%ifequal i '...' %}{{page_obj.number}}{%else%}{{ i }}{%endifequal%}">{{ i }}</a></li>
{%endifequal%}
    {%  endfor %}
    <li>
      <a href="{%if page_obj.has_next  %}?page={{page_obj.next_page_number}} {%else%}#{%endif%}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
</div>
	    {% endblock main %}

