{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>文都教育12月预报名</title>


    <!-- css -->
    <link rel="stylesheet" href="{% static 'enroll/css/custom.css' %}">
<script src="{% static 'enroll/js/script.js' %}"></script>
 <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" type="image/x-icon">


<link rel="stylesheet" href="{% static  'mao/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/login.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/sign-up-login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mao/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/inputEffect.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/tooltips.css' %}">
<link rel="stylesheet" href="{% static 'mao/css/spop.min.css' %}">

<script src="{% static 'mao/js/jquery.min.js' %}"></script>
<script src="{% static 'mao/js/snow.js' %}"></script>
<script src="{% static 'mao/js/jquery.pure.tooltips.js' %}"></script>
<script src="{% static 'mao/js/spop.min.js' %}"></script>
<style type="text/css">
html{width: 100%; height: 100%;}
body{
	background-repeat: no-repeat;
	background-position: center center #2D0F0F;
	background-color: #00BDDC;
	background-image: url(/static/mao/images/snow.jpg);
	height:100%;
	background-size:auto;
}

.snow-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 100001; }

</style>
</head>
<body>
	<!-- 雪花背景 -->
	<div class="snow-container"></div>
	<!-- 登录控件 -->
	<div id="login">
		<input id="tab-1" type="radio" name="tab" class="sign-in hidden" checked />
		<input id="tab-2" type="radio" name="tab" class="sign-up hidden" />
		<input id="tab-3" type="radio" name="tab" class="sign-out hidden" />
		<div class="wrapper" id="test">
			<!-- 登录页面 -->
			<div class="login sign-in-htm" >
			<div style="display:block;background:rgba(233, 30, 99, 0.8);position:absolute;top:115px;text-align:center;width:80%;z-index:90909090909;margin:auto;color:white;right:0px;left:0px;" id="state">
			<h3>报名说明,请仔细阅读</h3>
			<ul style="list-style-type:none;text-align:left">
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">1.本报名预付定金100</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">2.大巴车将提供从校区往返市区,酒店到考点服务</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">3.酒店将提供标准单间以及双人间选择</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">4.最终价格将于12月中旬确定</p>
			</li>
			<li style="margin-bottom:30px">
			<p style="font-size:20px;line-height:30px">5.具体价格请留意群里公布</p>
			</li>
			<li style="margin-bottom:30px">
	  <button type="" id="fat-btn" class="btn btn-primary"  style="background-color:#674954;border-color:rgba(233, 30, 99, 0);border-radius: 0px;;position:absolute;top:0px;right:0px;min-width:30px;" onclick="javascript:document.getElementById('state').style.display='none';">X</button>
			</li>
			</ul>
			</div>
				<form action="{% url 'enroll:PreEnroll'%}" method="post" class="container offset1 loginform comment-form" style="max-width:80%;" id="form" >
					{% csrf_token %}
					<!-- 猫头鹰控件 -->
					<div id="owl-login" class="register-owl">
						<div class="hand"></div>
						<div class="hand hand-r"></div>
						<div class="arms">
							<div class="arm"></div>
							<div class="arm arm-r"></div>
						</div>
					</div>
					<div class="pad input-container">
						<section class="content">
  <div class="row">
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> <h3 style="font-size:20px">文都12月考研住宿预报名</h3></div>

    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 姓名：</div>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 手机号：</div>
      {{ form.phone }}
      {{ form.phone.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 专业：</div>
      {{ form.major }}
      {{ form.major.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 出发地：</div>
      {{ form.area }}
      {{ form.area.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 订住酒店：</div>
      {{ form.need_dorm }}
      {{ form.need_dorm.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 大巴车：(市区往返)</div>
      {{ form.need_bus }}
      {{ form.need_bus.errors }}
    </div>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px">
	  <div class="field-label"> 午餐：</div>
      {{ form.need_lunch }}
      {{ form.need_lunch.errors }}
    </div>
<script type="text/javascript">
var s=document.getElementById("test").scrollHeight;
document.getElementById("state").style.height=s+30+"px";

$(".pad").css("color","rgba(255, 0, 0, 0.6)");
$(".input-container").css("background-color","#0e2e8533");
$("select").addClass("form-control");
$("select").css("margin","5px 0");
$("select").css("border","1px solid rgba(63, 81, 181, 0.52)");
$("input").css("border","1px solid rgba(63, 81, 181, 0.52)");
/*remove url of alert/confirm*/  
var wAlert = window.alert;  
window.alert = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        iwindow.alert(message);  
        iframe.parentNode.removeChild(iframe);  
    }  
    catch (exc) {  
        return wAlert(message);  
    }  
}  
var wConfirm = window.confirm;  
window.confirm = function (message) {  
    try {  
        var iframe = document.createElement("IFRAME");  
        iframe.style.display = "none";  
        iframe.setAttribute("src", 'data:text/plain,');  
        document.documentElement.appendChild(iframe);  
        var alertFrame = window.frames[0];  
        var iwindow = alertFrame.window;  
        if (iwindow == undefined) {  
            iwindow = alertFrame.contentWindow;  
        }  
        var result=iwindow.confirm(message);  
        iframe.parentNode.removeChild(iframe);  
        return result;
    }  
    catch (exc) {  
        return wConfirm(message);  
    }  
}	 
	  {% if message1 %}
	  alert("您已提交信息,请勿重复报名");
	  {% else %}
	  {% if message2 %}
	  alert("手机号填写错误");
	  document.getElementById("state").style.display="none";
	  {%endif%}
	  {%endif%}
</script>
    <div class="col-md-12" style="padding-left:30px;padding-right:30px;margin-bottom:8px;">
	  <button type="button" id="fat-btn" class="btn btn-primary"  style="position:absolute;left:30px;background-color:#ff000082;border-color:#ff000082;min-width:100px;" onclick="javascript:document.getElementById('state').style.display='block';">详情说明</button>
	  <button type="submit" id="fat-btn" class="btn btn-primary"  style="position:absolute;right:30px;min-width: 100px;" onclick="javascript:return(confirm('请仔细确认信息是否无误?'));">确认无误提交</button></div>
    </div>
  </div>    <!-- row -->
						</section>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'enroll/js/my.js' %}"></script>
</html>
