 {% extends 'base.html'%}
{% load staticfiles %}
			{%block main%}
<img src = "{% static 'enroll/img/zhifubao_40.jpg'%}">

<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">1.请保存该收款码，<span style="color:red">使用支付宝程序扫一扫进行支付</span></p>
</h4>
</div>

<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">2.付款时务必备注 <span style="color:red">姓名+手机尾号后4位 </span></p>
</h4>
</div>



<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">3.付款后的同学请进QQ群</p>
</h4>
</div>

<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">4.联系管理员发送付款截图，以供进一步审核</p>
</h4>
</div>

<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">5.QQ群:<span style="color:red">931119487</span></p>
</h4>
</div>


<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">6.联系电话:15230577187(王老师)</p>
</h4>
</div>

<div style="position:relative">
<h4>
<p style="position:relative;margin-bottom:8px">7.监督电话:18032519800(张老师)</p>
</h4>
</div>
{%endblock%}
