
.content-body{

margin-top:10px;
}
.pagination>.active>span{
background-color:#6999c7
}
#site-header{
position:relative;
top:40px;
}

.top_h{
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    background: #337ab799;
    color: white;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;	

}



body{
}
.post{

background:white;



}
.post-ul{
margin:0 ;
padding-left:10px;
overflow:hidden;

}
.post-category a{
color:white;

}
.post-category{

background:#699dca;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    margin-right: 20px;

}
.page_num:hover{
	background:#b42f1f;
	color:#fff;
	}
.page_num{
	padding:5px 10px ;
	background:#d0d0d0;
	color:#000;
	font-weight:700;
	}

.header--image{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 120px 0;
    text-align: center;
    text-shadow: 1px 1px 0 #000;


}
.excerpt-p{

	font-size:13px;
	color:#999;

}
.excerpt-a{
	font-size:23px;
 	color:#5f5b5b;
    margin-left: 0;

}
.post-ul h3{

margin-bottom:25px

}

.top-bar{

    border-bottom: 1px solid #e1e1e1;
	padding: 0.5rem;
	position:fixed;
	left:0;
	top:0;
	z-index:99999;
	width:100%;
	background:white;

}
.menu>li>a {
    display: block;
    padding: .7rem 1rem;
    line-height: 1;
	font-size:20px;
	color:#777;
}

.top-bar-inline {
    width: auto!important;
}
.menu {
    margin: 0;
	padding:0;
    list-style-type: none;
}

.menu li {
    display: table-cell;
}
.menu-text {
    font-weight: 700;
    color: inherit;
    line-height: 1;
}
.container{

overflow:hidden ;
padding-left:4px;
padding-right:4px;
position:relative;
top:24px;
}
html, body{
width: 100%;
margin: 0;
padding: 0;
}

















@charset "UTF-8";
/*
 * 变量
*/
.like[data-v-6ddd02c6] {
  display: inline-block;
}
.like .like-group[data-v-6ddd02c6] {
    position: relative;
    padding: 13px 0 15px 0;
    font-size: 0;
    border: 1px solid #EA6F5A;
    border-radius: 40px;
}
.like .like-group[data-v-6ddd02c6]:hover {
      background-color: rgba(236, 97, 73, 0.05);
}
.like .like-group .btn-like[data-v-6ddd02c6] {
      display: inline-block;
      font-size: 19px;
}
.like .like-group .btn-like[data-v-6ddd02c6]:before {
        content: '';
        position: absolute;
        left: 12px;
        top: 2px;
        width: 50px;
        height: 50px;
        background-image: url("./dd.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 1000px 50px;
}
.like .like-group .btn-like a[data-v-6ddd02c6] {
        position: relative;
        padding: 18px 30px 18px 55px;
        color: #EA6F5A;
}
.like .like-group .modal-wrap[data-v-6ddd02c6] {
      font-size: 18px;
      border-left: 1px solid rgba(236, 97, 73, 0.4);
      display: inline-block;
      margin-left: -15px;
}
.like .like-group .modal-wrap a[data-v-6ddd02c6] {
        color: #EA6F5A;
        padding: 18px 26px 18px 18px;
}
.like .like-group.like-animation[data-v-6ddd02c6], .like .like-group.active[data-v-6ddd02c6] {
      background-color: #EA6F5A;
}
.like .like-group.like-animation .btn-like a[data-v-6ddd02c6], .like .like-group.active .btn-like a[data-v-6ddd02c6] {
        color: white;
}
.like .like-group.like-animation .modal-wrap[data-v-6ddd02c6], .like .like-group.active .modal-wrap[data-v-6ddd02c6] {
        border-left: 1px solid white;
}
.like .like-group.like-animation .modal-wrap a[data-v-6ddd02c6], .like .like-group.active .modal-wrap a[data-v-6ddd02c6] {
          color: white;
}
.like .like-group.like-animation .btn-like[data-v-6ddd02c6]:before {
      -webkit-animation: likeBlast-data-v-6ddd02c6 0.6s 1 steps(19);
              animation: likeBlast-data-v-6ddd02c6 0.6s 1 steps(19);
      background-position: right;
}
@-webkit-keyframes likeBlast {
0% {
    background-position: left;
}
100% {
    background-position: right;
}
}
@keyframes likeBlast-data-v-6ddd02c6 {
0% {
    background-position: left;
}
100% {
    background-position: right;
}
}
.like .like-group.active .btn-like[data-v-6ddd02c6]:before {
      background-position: right;
}
blockquote{

    border-left: 5px solid #ccc;
}

pre{

background-color:#bdb9b9;

}




[class*=" icon-"], [class^=icon-] {
    font-family: iconfont!important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-calendar:before {
    content: "\E667";
}
.icon-inner, svg {
    height: 100%;
    width: 100%;
    height: 1.23em;
}
.post-date {
    color: #999;
    font-size: 20px;
}

.col-md-4 a{

color:black;

}
#search-menu{
color:#777777;

}
table{

    background-color: #0c46e861;
}

}
.col-md-4{

color:#3352b7;

}
